.button{
    -fx-background-radius: 0;
    -fx-background-color: #282828;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 25pt;
}
.label{
    -fx-font-size: 15pt;
    -fx-text-fill: #282828;
}
#green:hover{
    -fx-background-color: green;
}
#red:hover{
    -fx-background-color: firebrick;
}
#green:pressed{
    -fx-background-color: lightgreen;
}
#red:pressed{
    -fx-background-color: tomato;
}
#maths{
    -fx-background-color: #FFFF99;
    -fx-text-fill: #282828;
}
#maths:hover{
    -fx-background-color: #FFFFC1;
}
#science{
    -fx-background-color: #98FF98;
    -fx-text-fill: #282828;
}
#science:hover{
    -fx-background-color: #C1FFC1;
}
#computing{
    -fx-background-color: #6F6FFF;
    -fx-text-fill: #282828;
}
#computing:hover{
    -fx-background-color: #A8A8FF;
}
#option4{
    -fx-background-color: #FF6666;
    -fx-text-fill: #282828;
}
#option4:hover{
    -fx-background-color: #FF9393;
}
.footer{
    -fx-background-color: #2A2A2A;
}
#whiteText{
    -fx-text-fill: whitesmoke;
}
#calc_s{
    -fx-graphic: url("../images/core/calc.png");
}