.root{
    -fx-background-color: linear-gradient(grey,darkgrey);
    -fx-font-size: 12pt;
    -fx-font-family: fantasy;
}
.label{
    -fx-font-size: 12pt;
    -fx-font-family: fantasy;
}
.button{
    -fx-background-radius: 6;
    -fx-background-color: #282828;
    -fx-text-fill: white;
    -fx-background-size: 10%;
    -fx-font-size: 12pt;
    -fx-font-family: fantasy;
}
.button:hover{
    -fx-background-color: cyan;
}
.progress-bar > .track {
    -fx-text-box-border: black;
    -fx-control-inner-background: yellow;
}
.progress-bar .bar {
    -fx-text-box-border: black;
    -fx-padding: 3px;
    -fx-background-insets: 0;
    -fx-background-color: blueviolet;
}