#generate{
    -fx-background-color: #282828;
    -fx-text-fill: whitesmoke;
    -fx-background-radius: 10;
}
#generate:hover{
    -fx-background-color: #888888;
}
#generate:pressed{
    -fx-background-color: #999999;
}
.progress-bar > .track {
    -fx-text-box-border: black;
    -fx-control-inner-background: whitesmoke;
    -fx-background-radius: 10;
}
.progress-bar .bar {
    -fx-text-box-border: black;
    -fx-padding: 8px;
    -fx-background-insets: 0;
    -fx-background-color: #282828;
    -fx-background-radius: 10;
}