.root{
    -fx-background-color: whitesmoke;
}
.button{
    -fx-background-radius: 0;
    -fx-background-color: #282828;
    -fx-text-fill: whitesmoke;
}

#generate_s{
    -fx-graphic: url("../../images/core/generator.png");
}
#quiz_s{
    -fx-graphic: url("../../images/core/quiz.png");
}
#calc_s{
    -fx-graphic: url("../../images/core/calc.png");
}
#new_s{
    -fx-graphic: url("../../images/core/new.png");
}
#help_s{
    -fx-graphic: url("../../images/core/help.png");
}
#exit_s{
    -fx-graphic: url("../../images/core/exit.png");
}
#settings_s{
    -fx-graphic: url("../../images/core/settings.png");
}
#notes_s{
    -fx-graphic: url("../../images/core/notes.png");
}

#achievements_s{
    -fx-graphic: url("../../images/achievements/level500.png");
}
.scroll-pane {
    -fx-background-color: #282828;
}

.scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 5em;
}
.scroll-bar:horizontal{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 5em;
}

.icon{
    -fx-pref-width: 7em;
}
#borderPane {
    -fx-background-color: #282828;
}
.option{
    -fx-text-fill: whitesmoke;
}
.option > .title {
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5px;
    -fx-color: #282828;
}
.curved{
    -fx-background-radius: 10px;
}